# Basic
pandas 
jupyter
jupyterlab
scipy
scikit-image
matplotlib 
spyder
pyvirtualdisplay

# Deep learning
tensorflow 
keras 
h5py 
keras-rl
baselines
tensorforce

# openAI Gym requirements
PyOpenGL
piglet
pyglet

# Other
JSAnimation
ipywidgets
