# Basic
pandas 
scipy
scikit-image
matplotlib 
seaborn
spyder
pyvirtualdisplay

# Jupyter
jupyter
jupyterlab
jupyter_nbextensions_configurator

# Deep learning
tensorflow 
keras 
h5py 
keras-rl
baselines
tensorforce

# openAI Gym requirements
PyOpenGL
piglet
pyglet

# Other
JSAnimation
ipywidgets
